@model IEnumerable<CadastroCrud>
@{
    var contador = 1;
}

<br>
<h1 class="titulo">Funcionários Psicologia</h1>
<br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="itensCrud">Id</th>
                <th class="itensCrud">Nome</th>
                <th class="itensCrud">Email</th>
                <th class="itensCrud">Especializacao</th>
                <th class="itensCrud">Universidade</th>
                <th class="itensCrud">Deletar Cadastro</th>
            </tr>
        </thead>
        <tbody>
            @if(Model  != null ){
            
@foreach (var item in Model.Where(item => item.registerSpecialization == "Mental") )
{
            <tr>
                <td>@contador</td>
                <td>@item.registerName</td>
                <td>@item.registerEmail</td>
                <td>@item.registerSpecialization</td>
                <td>@item.registerUniversity</td>
                <td>
                    <form action="~/Home/Excluir" method="post">
                        <input type="hidden" name="id" value="@contador">
                        <input type="submit" value="Deletar">
                    </form></td>
            </tr>
  contador++;
}
}
        </tbody>
    </table>